<script src="/assets/js/bootstrap-confirmation.js"></script>
<script>
$(document).ready(function () {
    $('[data-toggle="confirmation"]').confirmation({
        title: 'Are you sure to submit?',
        btnOkClass: 'btn btn-sm btn-primary',
        btnOkLabel: 'Yes',
        onConfirm: function() {
            $('form').submit();
        }
    });
});
</script>

<div id="contact_form">
    <h1>Contact Form</h1>
{% if code == 201 %}
    <p>
    Name: {{ name }}<br>
    Email: {{ email }}<br>
    Comment: {{ comment }}
    </p>
    <p>Thank you!</p>
{% else %}
    <form role="form" action="" method="post" enctype="multipart/form-data">
        {{ form(form['__csrf_token']['hint']) }}

        <div class="form-group{%if form['name']['error'] %} has-error{% endif %}">
            <label class="control-label" for="name">Name</label>
            {{ form(form['name']['hint']) }}
            <label class="control-label" for="name">{{ form['name']['error'] }}</label>
        </div>

        <div class="form-group{%if form['email']['error'] %} has-error{% endif %}">
            <label class="control-label" for="email">Email</label>
            {{ form(form['email']['hint']) }}
            <label class="control-label" for="email">{{ form['email']['error'] }}</label>
        </div>

        <div class="form-group{%if form['comment']['error'] %} has-error{% endif %}">
            <label class="control-label" for="comment">Comment</label>
            {{ form(form['comment']['hint']) }}
            <label class="control-label" for="comment">{{ form['comment']['error'] }}</label>
        </div>

        <input data-toggle="confirmation" class="btn btn-default" type="submit" name="_submit" value="Send">
    </form>
{% endif %}
</div><!-- end of id="contact_form" -->
